<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<div class="main-list-block" th:fragment="newsMainList">
    <div th:replace="parts/newsHeader.html :: newsHeader"></div>

    <div style="display: flex;" class="d-flex row row-cols-2">
        <div class="col" th:each="section : ${sections}">
            <a th:href="@{/recipe/section/} + ${section.id}">
                <div class="section-header-parent">
                    <h5 th:text="${section.name}"></h5>
                    <div class="section-header"
                         th:style="|background-image: url('/img/${section.image}');|">
                        <div class="section-overlay"></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
</html>

